In [24]:
import pandas as pd
import datetime
data = pd.read_csv('test/test_presentation.txt')
data=data.drop(columns=['business_dt'])
data=data.drop_duplicates()
print(data)

cust_id             contr_id   draw_dt  draw_amt   loan_bal  \
0        jd_5c3b9fb704882  1180865269636026369  20191006     25000  16666.700
1        jd_69d52b9a88249  1213466788482863105  20200104      1000   1000.000
2        jd_4dafab5a9b4c9  1223443016899952641  20200201       625    625.000
3              Samuel-Jay  1223065218117046272  20200131       625      0.000
4        jd_4b6d43502b95a  1196620391963955201  20191119      1250   1041.625
...                   ...                  ...       ...       ...        ...
1109769  jd_5e4f21eef857d  1200990999543820289  20191201      3750      0.000
1109793            Paul_波  1154365715302862848  20190725      1750    583.325
1110253  331542887-716622  1201336517520310273  20191202     25000      0.000
1110275   diyutianshi1314  1211888270812680193  20191231      6250      0.000
1110320  jd_6cbcad941f6d2  1145574672231063553  20190701       625    416.700

          prod_id  in_pay_amt  loan_term  loan_used_rate    mat_dt  \
0               3       20000         12        0.000293  20201006
1               3         800          1        0.000500  20200204
2               3         500         12        0.000325  20210201
3               3         500          1        0.000350  20200229
4               3        1000         12        0.000375  20201119
...           ...         ...        ...             ...       ...
1109769         3        3000          1        0.000300  20200101
1109793         3        1400          6        0.000500  20200125
1110253         3       20000          1        0.000250  20200102
1110275         3        5000         12        0.000500  20201231
1110320         3         500         12        0.000500  20200701

         next_pay_int_dt  out_pay_amt  outsheet_term  overdue  overdue_grace  \
0               20200306            0              0        0              0
1               20200204            0              0        0              0
2               20200301            0              0        0              3
3               20200204            0              0        0              3
4               20200219            0              0        0              0
...                  ...          ...            ...      ...            ...
1109769         20200101            0              0        0              0
1109793         20200101            0              0        6              0
1110253         20200101            0              0        0              0
1110275         20200101            0              0        0              0
1110320         20200101            0              0       30              0

         overdue_loan_bal  overdue_term prin_overdue_dt  prin_repay_freq
0                    0.00             0              \N                 3
1                    0.00             0              \N                 3
2                    0.00             0              \N                 3
3                    0.00             0              \N                 3
4                    0.00             0              \N                 3
...                   ...           ...             ...               ...
1109769              0.00             0              \N                 3
1109793            233.33             1        20191225                 3
1110253              0.00             0              \N                 3
1110275              0.00             0              \N                 3
1110320             41.67             1        20191201                 3

[68233 rows x 19 columns]

In [25]:
def func_term_count(data):
    data['to_term'] = data['contr_id'].count()
    return data
data=data.groupby('cust_id').apply(func_term_count)
data=data.drop_duplicates()
print(data)

cust_id             contr_id   draw_dt  draw_amt   loan_bal  \
0        jd_5c3b9fb704882  1180865269636026369  20191006     25000  16666.700
1        jd_69d52b9a88249  1213466788482863105  20200104      1000   1000.000
2        jd_4dafab5a9b4c9  1223443016899952641  20200201       625    625.000
3              Samuel-Jay  1223065218117046272  20200131       625      0.000
4        jd_4b6d43502b95a  1196620391963955201  20191119      1250   1041.625
...                   ...                  ...       ...       ...        ...
1109769  jd_5e4f21eef857d  1200990999543820289  20191201      3750      0.000
1109793            Paul_波  1154365715302862848  20190725      1750    583.325
1110253  331542887-716622  1201336517520310273  20191202     25000      0.000
1110275   diyutianshi1314  1211888270812680193  20191231      6250      0.000
1110320  jd_6cbcad941f6d2  1145574672231063553  20190701       625    416.700

          prod_id  in_pay_amt  loan_term  loan_used_rate    mat_dt  \
0               3       20000         12        0.000293  20201006
1               3         800          1        0.000500  20200204
2               3         500         12        0.000325  20210201
3               3         500          1        0.000350  20200229
4               3        1000         12        0.000375  20201119
...           ...         ...        ...             ...       ...
1109769         3        3000          1        0.000300  20200101
1109793         3        1400          6        0.000500  20200125
1110253         3       20000          1        0.000250  20200102
1110275         3        5000         12        0.000500  20201231
1110320         3         500         12        0.000500  20200701

         next_pay_int_dt  out_pay_amt  outsheet_term  overdue  overdue_grace  \
0               20200306            0              0        0              0
1               20200204            0              0        0              0
2               20200301            0              0        0              3
3               20200204            0              0        0              3
4               20200219            0              0        0              0
...                  ...          ...            ...      ...            ...
1109769         20200101            0              0        0              0
1109793         20200101            0              0        6              0
1110253         20200101            0              0        0              0
1110275         20200101            0              0        0              0
1110320         20200101            0              0       30              0

         overdue_loan_bal  overdue_term prin_overdue_dt  prin_repay_freq   \
0                    0.00             0              \N                 3
1                    0.00             0              \N                 3
2                    0.00             0              \N                 3
3                    0.00             0              \N                 3
4                    0.00             0              \N                 3
...                   ...           ...             ...               ...
1109769              0.00             0              \N                 3
1109793            233.33             1        20191225                 3
1110253              0.00             0              \N                 3
1110275              0.00             0              \N                 3
1110320             41.67             1        20191201                 3

         to_term
0             23
1            103
2             24
3             65
4             10
...          ...
1109769       83
1109793      152
1110253       22
1110275        7
1110320      648

[68233 rows x 20 columns]

In [26]:

# # # #去重，下一个付息日
data=data.drop(columns=['next_pay_int_dt'])
data=data.drop(columns=[' loan_bal'])
data=data.drop(columns=['loan_term'])
data=data.drop_duplicates()
data=data.drop(columns=['mat_dt'])
data=data.drop(columns=['draw_dt'])
data=data.drop_duplicates()
print(data)

cust_id             contr_id  draw_amt   prod_id  \
0        jd_5c3b9fb704882  1180865269636026369     25000         3
1        jd_69d52b9a88249  1213466788482863105      1000         3
2        jd_4dafab5a9b4c9  1223443016899952641       625         3
3              Samuel-Jay  1223065218117046272       625         3
4        jd_4b6d43502b95a  1196620391963955201      1250         3
...                   ...                  ...       ...       ...
1109654  jd_52f8fdb6092fe  1178562587361558528      6250         3
1109704  jd_6fd1e9d9a59d8  1140934622767484929      1750         3
1109705  jd_52f8fdb6092fe  1178561639604101121       625         3
1109793            Paul_波  1154365715302862848      1750         3
1110320  jd_6cbcad941f6d2  1145574672231063553       625         3

         in_pay_amt  loan_used_rate  out_pay_amt  outsheet_term  overdue  \
0             20000        0.000293            0              0        0
1               800        0.000500            0              0        0
2               500        0.000325            0              0        0
3               500        0.000350            0              0        0
4              1000        0.000375            0              0        0
...             ...             ...          ...            ...      ...
1109654        5000        0.000475            0              0        0
1109704        1400        0.000500            0              0       13
1109705         500        0.000475            0              0        0
1109793        1400        0.000500            0              0        6
1110320         500        0.000500            0              0       30

         overdue_grace  overdue_loan_bal  overdue_term prin_overdue_dt  \
0                    0              0.00             0              \N
1                    0              0.00             0              \N
2                    3              0.00             0              \N
3                    3              0.00             0              \N
4                    0              0.00             0              \N
...                ...               ...           ...             ...
1109654              0              0.00             0        20191230
1109704              0            116.67             1        20191218
1109705              0              0.00             0        20191230
1109793              0            233.33             1        20191225
1110320              0             41.67             1        20191201

         prin_repay_freq   to_term
0                       3       23
1                       3      103
2                       3       24
3                       3       65
4                       3       10
...                   ...      ...
1109654                 3       24
1109704                 3      699
1109705                 3       24
1109793                 3      152
1110320                 3      648

[36240 rows x 15 columns]

In [27]:
data['prin_overdue_count']=data.apply(lambda x: int('0') if x['prin_overdue_dt']=='\\N' else int('1'), axis=1)
data=data.drop(columns=['prin_repay_freq '])
def func_overdue_count(data):
    data['overdue_term'] =data['overdue_term']+data['prin_overdue_count'].sum()
    return data
data=data.groupby('contr_id').apply(func_overdue_count)

data['to_overdue_term']=data.apply(lambda x: int(x['outsheet_term'])+int(x['overdue_term']), axis=1)
data=data.drop(columns=['prin_overdue_dt'])
data=data.drop(columns=['outsheet_term'])
data=data.drop(columns=['overdue_term'])
data=data.drop_duplicates()
print(data)

cust_id             contr_id  draw_amt   prod_id  \
0        jd_5c3b9fb704882  1180865269636026369     25000         3
1        jd_69d52b9a88249  1213466788482863105      1000         3
2        jd_4dafab5a9b4c9  1223443016899952641       625         3
3              Samuel-Jay  1223065218117046272       625         3
4        jd_4b6d43502b95a  1196620391963955201      1250         3
...                   ...                  ...       ...       ...
1108878  jd_706a4769eb251  1188811595740905473       625         3
1109233     15985791013_p  1166016032180273153      5875         3
1109654  jd_52f8fdb6092fe  1178562587361558528      6250         3
1109705  jd_52f8fdb6092fe  1178561639604101121       625         3
1110320  jd_6cbcad941f6d2  1145574672231063553       625         3

         in_pay_amt  loan_used_rate  out_pay_amt  overdue  overdue_grace  \
0             20000        0.000293            0        0              0
1               800        0.000500            0        0              0
2               500        0.000325            0        0              3
3               500        0.000350            0        0              3
4              1000        0.000375            0        0              0
...             ...             ...          ...      ...            ...
1108878         500        0.000500            0        3              0
1109233        4700        0.000425            0        5              0
1109654        5000        0.000475            0        0              0
1109705         500        0.000475            0        0              0
1110320         500        0.000500            0       30              0

         overdue_loan_bal  to_term  prin_overdue_count  to_overdue_term
0                    0.00       23                   0                0
1                    0.00      103                   0                0
2                    0.00       24                   0                0
3                    0.00       65                   0                0
4                    0.00       10                   0                0
...                   ...      ...                 ...              ...
1108878            166.67       35                   1               10
1109233            391.67       76                   1               17
1109654              0.00       24                   1                2
1109705              0.00       24                   1                2
1110320             41.67      648                   1              116

[33472 rows x 13 columns]

In [28]:
data['overdue_loan_bal']=data.apply(lambda x: float(x['overdue_loan_bal'])*(int(x['overdue'])*0.04+x['overdue_grace']*0.02+1), axis=1)
data=data.drop(columns=['overdue'])
data=data.drop(columns=['overdue_grace'])
data=data.drop_duplicates()
print(data)

cust_id             contr_id  draw_amt   prod_id  \
0        jd_5c3b9fb704882  1180865269636026369     25000         3
1        jd_69d52b9a88249  1213466788482863105      1000         3
2        jd_4dafab5a9b4c9  1223443016899952641       625         3
3              Samuel-Jay  1223065218117046272       625         3
4        jd_4b6d43502b95a  1196620391963955201      1250         3
...                   ...                  ...       ...       ...
1108878  jd_706a4769eb251  1188811595740905473       625         3
1109233     15985791013_p  1166016032180273153      5875         3
1109654  jd_52f8fdb6092fe  1178562587361558528      6250         3
1109705  jd_52f8fdb6092fe  1178561639604101121       625         3
1110320  jd_6cbcad941f6d2  1145574672231063553       625         3

         in_pay_amt  loan_used_rate  out_pay_amt  overdue_loan_bal  to_term  \
0             20000        0.000293            0            0.0000       23
1               800        0.000500            0            0.0000      103
2               500        0.000325            0            0.0000       24
3               500        0.000350            0            0.0000       65
4              1000        0.000375            0            0.0000       10
...             ...             ...          ...               ...      ...
1108878         500        0.000500            0          186.6704       35
1109233        4700        0.000425            0          470.0040       76
1109654        5000        0.000475            0            0.0000       24
1109705         500        0.000475            0            0.0000       24
1110320         500        0.000500            0           91.6740      648

         prin_overdue_count  to_overdue_term
0                         0                0
1                         0                0
2                         0                0
3                         0                0
4                         0                0
...                     ...              ...
1108878                   1               10
1109233                   1               17
1109654                   1                2
1109705                   1                2
1110320                   1              116

[33448 rows x 11 columns]

In [29]:
def func_rate_mean(data):
    data['loan_used_rate'] = data['loan_used_rate'].mean()
    return data
data=data.groupby('contr_id').apply(func_rate_mean)
def func_in_pay_max(data):
    data['in_pay_amt'] = data['in_pay_amt'].max()
    return data
data=data.groupby('contr_id').apply(func_in_pay_max)
print(data)

cust_id             contr_id  draw_amt   prod_id  \
0        jd_5c3b9fb704882  1180865269636026369     25000         3
1        jd_69d52b9a88249  1213466788482863105      1000         3
2        jd_4dafab5a9b4c9  1223443016899952641       625         3
3              Samuel-Jay  1223065218117046272       625         3
4        jd_4b6d43502b95a  1196620391963955201      1250         3
...                   ...                  ...       ...       ...
1108878  jd_706a4769eb251  1188811595740905473       625         3
1109233     15985791013_p  1166016032180273153      5875         3
1109654  jd_52f8fdb6092fe  1178562587361558528      6250         3
1109705  jd_52f8fdb6092fe  1178561639604101121       625         3
1110320  jd_6cbcad941f6d2  1145574672231063553       625         3

         in_pay_amt  loan_used_rate  out_pay_amt  overdue_loan_bal  to_term  \
0             20000        0.000293            0            0.0000       23
1               800        0.000500            0            0.0000      103
2               500        0.000325            0            0.0000       24
3               500        0.000350            0            0.0000       65
4              1000        0.000375            0            0.0000       10
...             ...             ...          ...               ...      ...
1108878         500        0.000500            0          186.6704       35
1109233        4700        0.000425            0          470.0040       76
1109654        5000        0.000475            0            0.0000       24
1109705         500        0.000475            0            0.0000       24
1110320         500        0.000500            0           91.6740      648

         prin_overdue_count  to_overdue_term
0                         0                0
1                         0                0
2                         0                0
3                         0                0
4                         0                0
...                     ...              ...
1108878                   1               10
1109233                   1               17
1109654                   1                2
1109705                   1                2
1110320                   1              116

[33448 rows x 11 columns]

In [30]:
def func_out_pay_max(data):
    data['out_pay_amt'] = data['out_pay_amt'].max()
    return data
data=data.groupby('contr_id').apply(func_out_pay_max)
def func_term_max(data):
    data['max_overdue_loan_bal'] = data['overdue_loan_bal'].max()
    return data
data=data.groupby('contr_id').apply(func_term_max)
data=data.drop(columns=['overdue_loan_bal'])
data=data.drop_duplicates()
print(data)

cust_id             contr_id  draw_amt   prod_id  \
0        jd_5c3b9fb704882  1180865269636026369     25000         3
1        jd_69d52b9a88249  1213466788482863105      1000         3
2        jd_4dafab5a9b4c9  1223443016899952641       625         3
3              Samuel-Jay  1223065218117046272       625         3
4        jd_4b6d43502b95a  1196620391963955201      1250         3
...                   ...                  ...       ...       ...
1096264  jd_7b1ae7e20f759  1182657512101388288      1250         3
1101014  jd_6b471b74fa3d8  1197475249818480640      3750         3
1101592  jd_4565501a6ebdc  1197290557857116160      6250         3
1109654  jd_52f8fdb6092fe  1178562587361558528      6250         3
1109705  jd_52f8fdb6092fe  1178561639604101121       625         3

         in_pay_amt  loan_used_rate  out_pay_amt  to_term  prin_overdue_count  \
0             20000        0.000293            0       23                   0
1               800        0.000500            0      103                   0
2               500        0.000325            0       24                   0
3               500        0.000350            0       65                   0
4              1000        0.000375            0       10                   0
...             ...             ...          ...      ...                 ...
1096264        1000        0.000500            0       28                   1
1101014        3000        0.000650            0        7                   1
1101592        5000        0.000325            0       12                   1
1109654        5000        0.000475            0       24                   1
1109705         500        0.000475            0       24                   1

         to_overdue_term  max_overdue_loan_bal
0                      0                  0.00
1                      0                  0.00
2                      0                  0.00
3                      0                  0.00
4                      0                  0.00
...                  ...                   ...
1096264                3                 83.33
1101014                3                250.00
1101592                3                416.63
1109654                2                491.47
1109705                2                166.67

[22070 rows x 11 columns]

In [31]:
data.to_csv('./test/handle_test_presentation.csv',index=False)
data = pd.read_csv('test/handle_test_presentation.csv')
def func_uverdue_term_max(data):
    data['to_overdue_term'] = data['to_overdue_term'].max()
    return data
data=data.groupby('contr_id').apply(func_uverdue_term_max)
data=data.drop(columns=['prin_overdue_count'])

def func_term_count(data):
    data['to_contr'] = data['contr_id'].count()
    return data
data=data.groupby('cust_id').apply(func_term_count)
data=data.drop(columns=['contr_id'])
data=data.drop_duplicates()

In [32]:
def func_rate_mean(data):
    data['loan_used_rate'] = data['loan_used_rate'].mean()
    return data
data=data.groupby('cust_id').apply(func_rate_mean)
def func_draw_amt_mean(data):
    data['draw_amt'] = data['draw_amt'].mean()
    return data
data=data.groupby('cust_id').apply(func_draw_amt_mean)
def func_in_pay_amt_mean(data):
    data['in_pay_amt'] = data['in_pay_amt'].mean()
    return data
data=data.groupby('cust_id').apply(func_in_pay_amt_mean)

In [33]:
def func_out_pay_amt_mean(data):
    data['out_pay_amt'] = data['out_pay_amt'].mean()
    return data
data=data.groupby('cust_id').apply(func_out_pay_amt_mean)
def func_term_sum(data):
    data['max_overdue_loan_bal'] = data['max_overdue_loan_bal'].sum()
    return data
data=data.groupby('cust_id').apply(func_term_sum)
def func_uverdue_term_sum(data):
    data['to_overdue_term'] = data['to_overdue_term'].sum()
    return data
data=data.groupby('cust_id').apply(func_uverdue_term_sum)
data=data.drop_duplicates()
print(data)
data.to_csv('./test/handle_test_presentation.csv',index=False)

cust_id     draw_amt   prod_id   in_pay_amt  loan_used_rate  \
0      jd_5c3b9fb704882  9900.000000         3  7920.000000        0.000312
1      jd_69d52b9a88249  2666.666667         3  2133.333333        0.000500
2      jd_4dafab5a9b4c9  1500.000000         3  1200.000000        0.000325
3            Samuel-Jay  6105.769231         3  4884.615385        0.000350
4      jd_4b6d43502b95a  5625.000000         3  4500.000000        0.000356
...                 ...          ...       ...          ...             ...
20439     bosaidong1100   625.000000         3   500.000000        0.000375
20441     15830587521_p   625.000000         3   500.000000        0.000500
20449  jd_524dcdcd90e99  5625.000000         3  4500.000000        0.000300
20454  jd_6592bf06edf24  1250.000000         3  1000.000000        0.000300
20458  jd_7c5196f829f87  3750.000000         3  3000.000000        0.000500

       out_pay_amt  to_term  to_overdue_term  max_overdue_loan_bal  to_contr
0              0.0       23                0                   0.0         5
1              0.0      103                0                   0.0        42
2              0.0       24                0                   0.0        10
3              0.0       65                9                9964.0        36
4              0.0       10                0                   0.0         2
...            ...      ...              ...                   ...       ...
20439          0.0        1                0                   0.0         1
20441          0.0        1                0                   0.0         1
20449          0.0        1                0                   0.0         1
20454          0.0        1                0                   0.0         1
20458          0.0        1                0                   0.0         1

[5000 rows x 10 columns]